.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: beige;
	margin-bottom: 0.5rem;
}

.main-content {
	display: flex;
}

.quiz-elements {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}

/* div containing the staff images */
.staff-images {
	/* min-width: 200px; */
}

/* div containing note buttons */
.note-buttons {
}

/* note buttons themselves */
.note-button {
}

.staff-image {
	/* width: 10rem; */
	/* max-height: auto; */
}

/* div containing the note buttons */
.note-buttons button {
	font-size: 1.5rem;
	min-width: 100px;
	margin: 0.5rem;
}

/* START GAME  */
.start-game-btn {
	font-size: 3rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden-image {
	display: none;
	position: fixed;
	z-index: -1;
}
